@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root{
--verde-agua: #2ED996; 
--azul: #2EABD9; 
--verde-musgo:#2ED9D0;
--azul-claro:#5C93E0; 
--amarelo-icone-da-seleção:#FFFC2B;
--cor-de-fundo: #BAE0F5;

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Courier New', Courier, monospace;
}