@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root{
--verde-agua: #2ED996; 
--azul: #2EABD9; 
--verde-musgo:#2ED9D0;
--azul-claro:#5C93E0; 
--amarelo-icone-da-seleção:#FFFC2B;
--cor-de-fundo: #c5c6c8;
--botao-inativo:#cce5ff; 
--botao-ativo: #ff94a2; 

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Courier New', Courier, monospace;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--verde-agua);
}
.botao{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--botao-ativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--verde-agua);
    border-left: 2px var(--botao-ativo);
    border-right: var(--botao-ativo);
}